<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!-- nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
            <div class="navbar-nav">
                <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About</a>
                <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                {% if user.is_authenticated %}
                
                <a class="btn btn-link" href="{% url 'djangoapp:index' %}">{{ user.first_name }}({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                <li class="nav-item">
                    <a class="nav-link" href="add_review">Add review</a>
                </li>

            {% else %}
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
            {% endif %}
                    
            </div>
        </div>
    </nav>

    <h2>Reviews for <strong>{{ dealer.0.full_name }}</strong></h2>
    <!-- reviews as cards -->
    <div class="card-columns">
        {% for review in reviews %}
            <div class="card">
                <img class="rounded-circle" style="width: 50px; height: 50px" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" alt="Card image cap">
                <div class="card-header">Reviewer: {{review.name}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                    <h5 class="card-title">{{ review.car_year }}</h5>
                    <p class="card-text">"{{ review.review }}"</p>
                  </div>
            </div>
        {% endfor %}

        {% if reviews|length == 0 %}
            <h1>This dealership has no reviews to show</h1>
        {% endif %}
    </div>
    <!-- <button type="submit" class="btn btn-outline-primary btn-md"><a href="/add_review">Add Review</a></button> -->
</body>

</html>