<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!-- nav bar here -->
    {% include 'djangoapp/nav_bar.html' with active_menu='home' %}

    
    <h2>Reviews for <strong>{{ dealer.0.full_name }}</strong></h2>
    <!-- reviews as cards -->
    <div class="card-columns">
        {% for review in reviews %}
            <div class="card">
                <img class="rounded-circle" style="width: 50px; height: 50px" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" alt="Card image cap">
                <div class="card-header">Reviewer: {{review.name}}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                    <h5 class="card-title">{{ review.car_year }}</h5>
                    <p class="card-text">"{{ review.review }}"</p>
                  </div>
            </div>
        {% endfor %}

        {% if reviews|length == 0 %}
            <h1>This dealership has no reviews to show</h1>
        {% endif %}
    </div>
    <!-- <button type="submit" class="btn btn-outline-primary btn-md"><a href="/add_review">Add Review</a></button> -->
</body>

</html>