<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Dealership Reviews</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active_menu == 'home' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a>
                </li>
                <li class="nav-item {% if active_menu == 'about' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
                </li>
                <li class="nav-item {% if active_menu == 'contact' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>        
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }} ({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}"> Logout </a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" /> &nbsp;&nbsp;
                            <input type="password" class="form-control" placeholder="Password" name="password" />&nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit">Login</button>&nbsp;&nbsp;
                            <a href="{% url 'djangoapp:registration' %}" class="btn btn-outline-primary">Sign Up</a>&nbsp;&nbsp;
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>